@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

$bg-clr: rgb(230, 234, 247);
$pri-clr: rgb(4, 112, 175);
$lnr-clr-1: rgb(146, 185, 230);
$lnr-clr-2: rgb(129, 42, 228);
$night-clr: rgb(4, 7, 14);

@mixin position {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  position: relative;
  @include position();
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: $bg-clr;
  transition: background 0.2s ease;

  &.active {
    background-color: $night-clr;
    .main-content {
      background-color: $night-clr;
    }

    .main-content .country .flag--name h1 {
      color: white;
    }

    .main-content .country h3 {
      color: white;
    }

    .main-content .country h3 .details h6 {
      color: white;
    }

    .main-content .country .more-details {
      color: white;
    }

    .open-menu {
      color: white;
    }
  }
}

.open-menu {
  display: none;
}

.header {
  @include position();
  position: fixed;
  flex-direction: column;
  top: 0;
  width: 100vw;
  z-index: 10;

  &.active h1 {
    transform: translateX(-220%);
  }

  &.active .search-bar {
    position: absolute;
    right: 10px;
    width: 18%;
  }

  h1 {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    background: linear-gradient(120deg, rgb(146, 185, 230), rgb(129, 42, 228));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease;
  }

  .search-bar {
    position: relative;
    height: 50px;
    width: 45%;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    margin-top: 20px;
    border: 2px solid rgb(171, 109, 241);
    transition: 0.5s ease;

    .search {
      position: absolute;
      height: 100%;
      width: 95%;
      border-radius: 100px;
      border: none;
      background-color: transparent;
      padding: 0 20px;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }

    ion-icon {
      position: absolute;
      right: 20px;
      font-size: 25px;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      color: rgb(159, 98, 230);
    }
  }
}

.switch-continent {
  position: fixed;
  left: 10px;
  top: 12%;
  @include position();
  flex-direction: column;
  z-index: 11;

  h3 {
    background: $lnr-clr-1;
    position: relative;
    margin: 5px 0;
    width: 100%;
    padding: 18px;
    color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    transition: 0.2s ease;

    &.active {
      transform: scale(1.1) translateX(20px);
      background: $lnr-clr-2;
    }
  }

  .switch-mode {
    position: relative;
    @include position();
    cursor: pointer;
    margin-top: 60px;
    align-self: flex-start;
    user-select: none;
    opacity: 1;

    .box {
      position: relative;
      height: 35px;
      width: 70px;
      border: 3px solid $lnr-clr-2;
      border-radius: 100px;
      backdrop-filter: blur(5px);
      @include position();

      .toggle {
        position: absolute;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        left: 2px;
        transition: 0.3s ease;
        @include position();

        ion-icon {
          font-size: 22px;
          position: absolute;
        }

        .dark-mode {
          opacity: 0;
        }

        &.active {
          left: (calc(70px - 2px - 3px - 25px - 2px));
        }

        &.active .dark-mode {
          opacity: 1;
          color: white;
        }

        &.active .light-mode {
          opacity: 0;
        }
      }
    }
  }
}

.loading {
  position: fixed;
  z-index: 1;

  &.active {
    opacity: 0;
    pointer-events: none;
  }
}

.top {
  height: 100px;
  width: 100px;
}

.scroll-up {
  height: 70px;
  width: 70px;
  background: linear-gradient(-45deg, $lnr-clr-1, $lnr-clr-2);
  border-radius: 20%;

  @include position();

  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  transform: translateY(180%);
  transition: transform 0.5s ease;

  ion-icon {
    color: white;
    font-size: 22px;
  }

  &.active {
    transform: translateX(0);
  }
}

.main-content {
  position: relative;
  height: 80vh;
  width: 98vw;

  margin-top: 150px;
  background-color: $bg-clr;
  transition: background 0.2s ease;

  @include position();
  flex-direction: column;
  justify-content: start;

  .country {
    position: relative;
    @include position();
    justify-content: start;
    margin: 0 0 150px;
    border-radius: 10px;
    min-height: 60%;
    width: 60%;

    .coat-of-arms {
      height: 100%;
      width: 40%;
      position: absolute;
      right: 0;

      img {
        height: 100%;
        width: 100%;
        opacity: 0.1;
        user-select: none;
      }
    }

    .flag--name {
      position: relative;
      height: 100%;
      width: 330px;

      @include position();
      flex-direction: column;

      .flag {
        height: 80%;
        width: 100%;
        border-radius: 30px;

        img {
          height: 100%;
          width: 100%;
          border-radius: 30px;
          user-select: none;
        }
      }

      h1 {
        font-size: 45px;
        font-family: sans-serif;
        color: rgb(0, 0, 0);
        margin-top: 20px;
        text-transform: capitalize;
        font-weight: 100;
        transition: background 0.3s ease;
      }
    }

    h3 {
      display: flex;
      flex-direction: column;
      font-size: 42px;
      font-weight: bold;
      font-family: sans-serif;
      margin-left: 60px;
      max-width: 50%;
      gap: 20px;
      align-self: flex-start;
      transition: background 0.3s ease;

      .details {
        position: relative;
        display: flex;
        flex-direction: column;

        h6 {
          position: relative;
          font-size: 16px;
          text-transform: capitalize;
          margin: 5px;
          display: inline-flex;
          transition: color 0.3s ease;

          p {
            font-family: sans-serif;
            font-weight: 100;
            font-style: italic;
            margin-left: 5px;
            letter-spacing: 1px;
            max-width: 80%;
            flex-wrap: wrap;
            color: $pri-clr;
          }
        }
      }
    }

    .more-details {
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-transform: capitalize;
      font-weight: bold;
      cursor: pointer;
      transition: color 0.3s ease;

      @include position();

      transition: 0.3s ease;

      &.active {
        transform: translateY(50px);
      }

      &.active span {
        opacity: 0;
      }

      &.active ion-icon {
        transform: rotate(180deg);
        background-color: rgb(193, 219, 231);
        color: black;
      }

      ion-icon {
        background-color: $pri-clr;
        padding: 5px;
        border-radius: 50%;
        color: white;
        margin-left: 5px;
        transition: 0.5s ease;
      }
    }
  }
}

@media (max-width: 1200px) {
  .open-menu {
    position: fixed;
    display: flex;
    top: 10px;
    left: 10px;
    font-size: 25px;
    transition: 0.3s ease;
    z-index: 12;

    &.active {
      transform: translateX(200px) rotate(90deg);
    }
  }

  .header {
    @include position();
    position: fixed;
    flex-direction: column;
    top: 0;
    width: 100vw;
    z-index: 10;

    &.active h1 {
      transform: translate(-252%);
      font-size: 18px;
    }

    &.active .search-bar {
      width: 18%;
      transform: translate(220%, -50%);
    }

    h1 {
      text-transform: uppercase;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 30px;
      margin-top: 10px;
      background: linear-gradient(
        120deg,
        rgb(146, 185, 230),
        rgb(129, 42, 228)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: transform 0.5s ease;
    }

    .search-bar {
      position: relative;
      height: 50px;
      width: 42%;
      background-color: rgb(255, 255, 255);
      border-radius: 100px;
      margin-top: 5px;
      border: 2px solid rgb(171, 109, 241);
      transition: 0.5s ease;
    }
  }

  .switch-continent {
    position: fixed;
    left: 5px;
    top: 13%;
    @include position();
    flex-direction: column;
    z-index: 11;
    transform: translateX(-150%);
    transition: 0.2s ease;

    &.active {
      transform: translateX(0);
    }

    h3 {
      background: $lnr-clr-1;
      position: relative;
      width: 100%;
      padding: 15px;
      color: white;
      font-weight: 100;
      cursor: pointer;
      user-select: none;
      transition: 0.2s ease;

      &.active {
        transform: scale(1.1) translateX(20px);
        background: $lnr-clr-2;
      }
    }
  }

  .main-content {
    position: relative;
    height: 80vh;
    width: 95vw;
    margin-top: 100px;

    .country {
      position: relative;
      @include position();
      justify-content: start;
      margin: 0 0 150px;
      min-height: 70%;
      width: 70%;

      .coat-of-arms {
        height: 100%;
        width: 40%;
        position: absolute;
        right: 0;

        img {
          height: 100%;
          width: 100%;
          opacity: 0.1;
          user-select: none;
        }
      }

      .flag--name {
        position: relative;
        height: 100%;
        width: 300px;

        @include position();
        flex-direction: column;

        .flag {
          height: 80%;
          width: 100%;
          border-radius: 30px;

          img {
            height: 100%;
            width: 100%;
            border-radius: 30px;
            user-select: none;
          }
        }

        h1 {
          font-size: 40px;
          font-family: sans-serif;
          color: rgb(0, 0, 0);
          margin-top: 20px;
          text-transform: capitalize;
          font-weight: 100;
          transition: background 0.3s ease;
        }
      }

      h3 {
        display: flex;
        flex-direction: column;
        font-size: 42px;
        font-weight: bold;
        font-family: sans-serif;
        margin-left: 60px;
        max-width: 50%;
        gap: 20px;
        align-self: flex-start;
        transition: background 0.3s ease;

        .details {
          position: relative;
          display: flex;
          flex-direction: column;

          h6 {
            position: relative;
            font-size: 16px;
            text-transform: capitalize;
            margin: 5px;
            display: inline-flex;
            transition: color 0.3s ease;

            p {
              font-family: sans-serif;
              font-weight: 100;
              font-style: italic;
              margin-left: 5px;
              letter-spacing: 1px;
              max-width: 70%;
              overflow: hidden;
              color: $pri-clr;
            }
          }
        }
      }

      .more-details {
        position: absolute;
        bottom: 10px;
        right: 10px;
        text-transform: capitalize;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s ease;

        @include position();

        transition: 0.3s ease;
      }
    }
  }
}

@media (max-width: 500px) {
  .header {
    @include position();
    position: fixed;
    flex-direction: column;
    top: 0;
    width: 100vw;
    z-index: 10;

    &.active h1 {
      transform: translateX(200%);
      font-size: 30px;
    }

    &.active .search-bar {
      width: 80%;
      transform: translateX(-200%);
    }

    h1 {
      text-transform: uppercase;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 30px;
      margin-top: 10px;
      background: linear-gradient(
        120deg,
        rgb(146, 185, 230),
        rgb(129, 42, 228)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: transform 0.5s ease;
    }

    .search-bar {
      position: relative;
      height: 50px;
      width: 80%;
      background-color: rgb(255, 255, 255);
      border-radius: 100px;
      margin-top: 5px;
      border: 2px solid rgb(171, 109, 241);
      transition: 0.5s ease;
    }
  }

  .open-menu {
    position: fixed;
    display: flex;
    top: 10px;
    left: 10px;
    font-size: 25px;
    transition: 0.5s ease;
    z-index: 12;

    &.active {
      transform: translateX(280px) rotate(90deg);
    }
  }

  .switch-continent {
    position: fixed;
    left: 0;
    top: 0;
    width: 90%;
    height: 100vh;
    border-bottom-right-radius: 50px;
    @include position();
    flex-direction: column;
    align-items: flex-start;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(20px);
    transform: translateX(-100%);
    transition: 0.4s ease;

    &.active {
      transform: translateX(0);
    }

    h3 {
      background: $lnr-clr-1;
      position: relative;
      margin: 9px 5px;
      width: 50%;
      padding: 20px;
      color: rgb(255, 255, 255);
      font-weight: 400;
      user-select: none;
      transition: 0.2s ease;

      &.active {
        transform: scale(1.1) translateX(25px);
        background: $lnr-clr-2;
      }
    }

    .switch-mode {
      position: absolute;
      margin-top: 10px;
      bottom: 20px;
      right: 20px;
    }
  }

  .scroll-up {
    height: 50px;
    width: 50px;
    background: linear-gradient(-45deg, $lnr-clr-1, $lnr-clr-2);
    border-radius: 10%;

    @include position();

    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    transform: translateX(150%);
    transition: transform 0.5s ease;

    ion-icon {
      color: white;
      font-size: 22px;
    }

    &.active {
      transform: translateX(0);
    }
  }

  .main-content {
    position: relative;
    height: 80vh;
    width: 95vw;
    margin-top: 50px;

    .country {
      position: relative;
      @include position();
      justify-content: start;
      margin: 0 0 110px;
      min-height: 55%;
      width: 100%;

      .coat-of-arms {
        height: 100%;
        width: 50%;
        position: absolute;
        right: 0;

        img {
          height: 100%;
          width: 100%;
          opacity: 0.1;
          user-select: none;
        }
      }

      .flag--name {
        position: relative;
        height: 100%;
        width: 150px;
        margin-left: 10px;

        @include position();
        flex-direction: column;

        .flag {
          height: 150px;
          width: 100%;
          border-radius: 30px;

          img {
            height: 100%;
            width: 100%;
            border-radius: 30px;
            user-select: none;
          }
        }

        h1 {
          font-size: 28px;
          font-family: sans-serif;
          color: rgb(0, 0, 0);
          margin-top: 20px;
          text-transform: capitalize;
          font-weight: 100;
          transition: background 0.3s ease;
        }
      }

      h3 {
        display: flex;
        flex-direction: column;
        font-size: 28px;
        font-weight: bold;
        font-family: sans-serif;
        margin-left: 20px;
        max-width: 50%;
        gap: 5px;
        align-self: flex-start;
        transition: background 0.3s ease;

        .details {
          position: relative;
          display: flex;
          flex-direction: column;

          h6 {
            position: relative;
            font-size: 15px;
            text-transform: capitalize;
            margin: 5px;
            display: inline-flex;
            transition: color 0.3s ease;

            p {
              font-family: sans-serif;
              font-weight: 400;
              font-style: italic;
              margin-left: 5px;
              letter-spacing: 1px;
              max-width: 70%;
              overflow: hidden;
              color: $pri-clr;
            }
          }
        }
      }

      .more-details {
        display: none;
      }
    }
  }
}
